<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SamplePoorService/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
                contract="PoorDIServiceReference.IReportService" name="BasicHttpBinding_IReportService" />
        </client>
    </system.serviceModel>
</configuration>