<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportService" />
                <binding name="BasicHttpBinding_IReportService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SamplePoorService/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
                contract="PoorDIServiceReference.IReportService" name="BasicHttpBinding_IReportService" />
            <endpoint address="http://localhost/SampleUnityService/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService1"
                contract="UnityDIServiceReference.IReportService" name="BasicHttpBinding_IReportService1" />
        </client>
    </system.serviceModel>
</configuration>